{% load static %}
<h1>Register here</h1>
{% if messages %}
  <div class="alert-container">
    {% for message in messages %}
      <div class="alert-message">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<form method ="post" action="register">
    {% csrf_token %}
    <p>Username</p>
    <input type ="text" name="username" placeholder="Username" required>
    <p>Email</p>
    <input type ="email" name="Email" placeholder="Email" required>
    <p>Password</p>
    <input type ="password" name="password" placeholder="Password" required>
    <p>Repeat Password</p>
    <input type ="password" name="password2" placeholder="Confirm Password" required>
    <br>
    <input type="submit" value="Register">

</form>